:root {
  --primary-color: #6200ee;
  --primary-faded: rgba(98, 0, 238, .25);
  --secondary-color: #dc3545;
  --editable-color: rgba(103, 49, 230, 0.25);
  --uneditable-color: rgba(218, 216, 216, 0.4);
  --firstsave-color: rgba(154, 216, 245, 0.25);
  --heavy-color: rgba(255, 138, 5, 0.25);
  --brutal-color: rgba(218, 0, 0, 0.25);
  --border-color: #999;
  --selected-color: rgba(199, 204, 129, 1);
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.attribValues {
  width: 50px;
  display: block;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


.button {
  align-items: center;
  appearance: none;
  border-radius: 4px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, 0.2) 0 3px 1px -2px, rgba(0, 0, 0, 0.14) 0 2px 2px 0,
    rgba(0, 0, 0, 0.12) 0 1px 5px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: Roboto, sans-serif;
  font-size: 0.875rem;
  font-weight: 500;
  height: 36px;
  justify-content: center;
  letter-spacing: 0.0892857em;
  line-height: normal;
  min-width: 64px;
  outline: none;
  overflow: visible;
  padding: 0 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  will-change: transform, opacity;
}

.button:hover {
  box-shadow: rgba(0, 0, 0, 0.2) 0 2px 4px -1px, rgba(0, 0, 0, 0.14) 0 4px 5px 0,
    rgba(0, 0, 0, 0.12) 0 1px 10px 0;
}

.button:disabled {
  background-color: rgba(0, 0, 0, 0.12);
  box-shadow: rgba(0, 0, 0, 0.2) 0 0 0 0, rgba(0, 0, 0, 0.14) 0 0 0 0,
    rgba(0, 0, 0, 0.12) 0 0 0 0;
  color: rgba(0, 0, 0, 0.37);
  cursor: default;
  pointer-events: none;
}

.button:not(:disabled) {
  background-color: var(--primary-color)
}

.button:focus {
  box-shadow: rgba(0, 0, 0, 0.2) 0 2px 4px -1px, rgba(0, 0, 0, 0.14) 0 4px 5px 0,
    rgba(0, 0, 0, 0.12) 0 1px 10px 0;
}

.button:active {
  box-shadow: rgba(0, 0, 0, 0.2) 0 5px 5px -3px,
    rgba(0, 0, 0, 0.14) 0 8px 10px 1px, rgba(0, 0, 0, 0.12) 0 3px 14px 2px;
  background: #a46bf5;
}

.content {
  position: relative;
  padding: 10px;
}


.centering {
  text-align: center;
  padding: 5px;
}

.float {
  float: left;
}

.noFloat {
  float: none;
  display: block;
}

.container {
  /* border: 1px black solid; */
  display: flex;
  align-items: center;
}

.container>* {
  flex: 1;
  display: flex;
  align-items: center;
}

.stack {
  display: inline-block;
  float: none;
  flex: 0;
}

.attribute {
  width: 40px;
  height: 40px;
  vertical-align: middle;
  text-align: center;
  background-color: rgba(199, 204, 129, 0.25);
  border-radius: 0;
  border: none;
  box-shadow: none;
  margin-left: 10px;
}

.attribute.mastery {
  background-color: white;
  height: 20px;
  margin-left: -10px;
  font-size: 10px;
  position: relative;
  top: -10px;
  left: 4px;
}

.smallText {
  font-size: 10px;
  text-align: center;
  vertical-align: text-top;
  text-indent: 0;
  position: relative;
  top: -5px;
}

.smallText.valign {
  top: 0px;
  ;
}

.attributeLables {
  text-align: right;
}

.attribute.saveValue {
  background-color: var(--firstsave-color);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-align: center;
  align-self: center;
  align-items: center;
}

.attribute.saveValue.heavy {
  background-color: var(--heavy-color);
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.attribute.saveValue.brutal {
  background-color: var(--brutal-color);
  width: 20px;
  height: 20px;
  border-radius: 50%;
}


.attribValues {
  width: 100px;
}

#experience {
  margin-top: 15px;
  width: 50px;
}

.setWidth {
  width: 710px;
}

.table-wrapper {
  display: flex;
  justify-content: space-between;
}

.table-wrapper table {
  width: calc(25% - 10px);
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
  background-color: var(--editable-color);
}



.centerContent {
  display: flex;
  justify-content: center;
  align-items: center;
}

table.corners {
  border: var(--uneditable-color) 1px dashed;
  border-radius: 10%;
  padding-left: 5px;
}

.corners {
  border: var(--uneditable-color) 1px dashed;
  border-radius: 10%;
  padding-left: 5px;
}

.reset {
  background-color: var(--primary-faded);
  border-radius: 20%;
  font-size: 10px;
  vertical-align: middle;
  margin-left: 10px;
  font-weight: 500;
}

table {
  /* border: 2px solid blue; */
}

div {
  /* border: cyan 1px dashed; */
}

.noflex {
  display: block;
}

input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 12px;
  height: 12px;
  border: 2px solid #999;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
}

input[type="radio"]:checked {
  background-color: #999;
}

td {
  /* border: 1px dashed black; */
  text-align: center;
  align-items: center;
  vertical-align: middle;
  align-content: center;
  align-items: center;
  justify-content: center;
}

td.flex {
  display: flex;
  border: 1px solid red;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
}

td.alignTop {
  vertical-align: top;
  white-space: nowrap;
}

body {
  background-color: transparent;
}

input:disabled {
  background-color: var(--uneditable-color)
}

.attribute.hpValue {
  background: url("images/heart.png") no-repeat center center / contain;
  opacity: 1;
  background-size: cover;
  background-color: transparent;
  background-position: center center;
  width: 60px;
  height: 60px;
  border-radius: 10px;
  color: white;
  font-size: 20px;
}

.attribute.ManaValue {
  background: url("images/Mana.png") no-repeat center center / contain;
  opacity: .75;
  background-size: cover;
  background-color: transparent;
  background-position: center center;
  width: 70px;
  height: 70px;
  border-radius: 10px;
  color: white;
  font-size: 20px;

}

.attribute.StaminaValue {
  background: url("images/Stamina.png") no-repeat center center / contain;
  opacity: .75;
  background-size: cover;
  background-color: transparent;
  background-position: center center;
  width: 70px;
  height: 70px;
  border-radius: 10px;
  color: white;
  font-size: 20px;

}

.attribute.attackValue {
  width: 60px;
  height: 60px;
  border-radius: 10px;
  color: black;
  font-size: 30px;
  font-weight: bold;
}


.maxHP {
  background-color: rgba(253, 68, 68, .25);
  border: 1px solid black;
  border-radius: 20px;
  width: 30px;
  height: 30px;
  position: relative;
  left: -28px;
  top: -20px;
  z-index: -1;
}

.maxHPText {
  font-size: 10px;
  position: relative;
  top: -20px;
  left: -23px;
}

.masteryBufferTD {
  width: 50px;
}

.button-24 {
  float: none;
  position: absolute;
  top: 5;
  right: 0;
  background: #ff4742;
  border: 1px solid #ff4742;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.button-24:hover,
.button-24:active {
  background-color: initial;
  background-position: 0 0;
  color: #ff4742;
}

.button-24:active {
  opacity: 0.5;
}

.outdated {
  background-color: #282c34 !important;
}

.textAreaContainer {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  min-height: 300px;
  /* or any desired height */
  /* border: #61dafb 1px solid; */
}

.header {
  border: var(--border-color) 1px solid;
}

.textarea {
  height: 100%;
  border: none;
  resize: none;
  padding: 10px;
  border: var(--border-color) 1px solid;
  /* add padding as needed */
}


.skull-image {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 1px solid black;
  background-image: url('images/skull_white.png');
}

.skull-image.selected {
  background-image: url('images/skull_black.png');
}

.skull-image.black {
  background-image: url("images/skull_black.png");
}

.skull-image.white {
  background-image: url("images/skull_white.png");
}

.skullsize {
  width: 30px;
  height: 30px;
}

.border {
  border: #61dafb 1px solid;
}

.skillWidth {
  min-width: 200px;
}

table.skillWidth td:first-child {
  text-align: right;
}

.block {
  display: inline-flex;
}